@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

header,
footer {
    background: #DAE2F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 15px;
}

.top img {
    width: 150px;
    height: auto;
}

.top h1 {
    font-size: 40px;
    word-spacing: 5px;
    letter-spacing: 3.5px;
}

footer {
    height: 100px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottom p {
    font-size: 20px;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h2 {
    padding-top: 55px;
    font-size: 45px;
}

td,
th {
    border: 1px solid #cfcdcd;
    text-align: center;
    padding: 15px 10px;
}

.projets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-end;
    margin: 60px 10px;
}

.btn-add {
    text-decoration: none;
    border: 1px solid #cac0f1;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    background-color: #d0c8f0;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.delete,
.modify,
.see {
    text-decoration: none;
    border-radius: 4px;
    padding: 6px 15px;
    font-weight: 600;
    font-size: 14px;
}

.delete {
    color: #e66969f1;
    border: 1px solid #e05b5bf1;
}

.modify {
    color: #89bfeb;
    border: 1px solid #76b4e7;
}

.see {
    color: #b17ccf;
    border: 1px solid #8b189b;
}

.action-btn a {
    margin: 0 10px;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-page {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-page h2 {
    padding-top: 30px;
    font-size: 40px;
}

.add-page form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 60px 0 40px 0;
}

.add-page form label {
    padding-bottom: 10px;
    font-size: 20px;
}

.add-page form input[type=text],
select {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

select {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ajouter {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.modifier-btn,
.ajouter-btn,
.return-btn {
    text-decoration: none;
    border: 1px solid #cac0f1;
    border-radius: 4px;
    padding: 7px 25px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    background-color: #d0c8f0;
    color: black;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

textarea {
    resize: none;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    font-size: 15px;
    color: rgb(28, 97, 153);
    line-height: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.btn-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    padding: 35px 0 10px 0;
    font-size: 45px;
}